<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newland.karaoke">

    <application
        android:name="com.newland.karaoke.KTVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/karaoke"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/karaoke_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.ShiftActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.CheckInActivity" />
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>